.message-box {
    height: 100%;
    width: 100%;
    resize: none;
    box-sizing: border-box;
    border: 2px solid #25B5FF;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #25B5FF;
    padding: 10px;
    font: 10pt Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.7);
}