#chat {
    /* Positioning */
    position: fixed;
    right: 0;
    bottom: 0;
    width: 350px;
    height: 490px;
    /* Hide iframe default border */
    border: none;
    /* Hide iframe until chat-icon click */
    display: none;
}

#chat-icon {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 100px;
    height: 100px;
    /* Center align of text */
    line-height: 100px;
    text-align: center;
    background-color: #CB6EF2;
    border: none;
    /* How to make a circle */
    border-radius: 50%;
    color: white;
    box-shadow: 0 0 15px #FF00CC;
    font-size: 3em;
    cursor: pointer;
    /* Disable text selection */
    user-select: none;
}

#chat-icon:hover {
    opacity: 0.7;
}

#chat-icon:active {
    border: none;
    opacity: 0.5;
}

#chat-icon:focus {
    outline: none;
}

body {
    background-color: #ffe6e6;
    /* background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%; */
    /* TODO: find better approach */
    overflow: hidden;
}

html {
    width: 100%;
    height: 100%;
}