html,
body {
    width: 100%;
    height: 100%;
    /* TODO: find better approach */
    overflow: hidden;
}

#main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 15px;
    border: 2px solid #CB6EF2;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #FF00CC;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#main .toolbar {
    line-height: 35px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px;
}

#main .toolbar .toolbar-button {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;

}

#main .toolbar .toolbar-button.close {
    border: 2px solid #EE5F56;
    box-shadow: 0px 0px 5px #EE5F56;
}

#main .toolbar .toolbar-button.shrink {
    border: 2px solid #F8BD45;
    box-shadow: 0px 0px 5px #F8BD45;
    margin-left: 5px;
}

#main .toolbar .toolbar-button.expand {
    border: 2px solid #5ECB43;
    box-shadow: 0px 0px 5px #5ECB43;
    margin-left: 5px;
}

#main .toolbar .toolbar-button:focus {
    outline: none;
}

#main .toolbar .toolbar-button:hover {
    opacity: 0.7;
}

#main .welcome {
    padding: 0 10px 0 10px;
    min-height: 0;
    height: calc(100% - 35px);
    display: flex;
    flex-direction: column;
}

#main .welcome .head-text {
    font: 20pt Verdana, sans-serif;
    margin-top: 0px;
    margin-right: 50px;
}

#main .welcome .start-chat-button {
    width: 100%;
    background-color: green;
    border: 2px solid #5ECB43;
    border-radius: 15px;
    font: 13pt Verdana, sans-serif;
    color: rgba(228, 233, 237, 1);
    cursor: pointer;
    padding: 10px 3px;
    flex: 0 0 auto;
    margin-bottom: 10px;
}

#main .welcome .start-chat-button:hover {
    opacity: 0.7;
}

#main .welcome .start-chat-button:active {
    opacity: 0.9;
}

#main .welcome .start-chat-button:focus {
    outline: none;
}

#main .chat {
    padding: 0 10px 0 10px;
    display: none;
}

#main .chat .head-text {
    font: 20pt Verdana, sans-serif;
    margin: 0px;
}

#main .chat .position-text {
    font: 10pt Verdana, sans-serif;
    margin: 0px;
    opacity: 0.6;
}

#main .msg-wnd {
    width: 100%;
    resize: none;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #25B5FF;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #25B5FF;
    padding: 3px 10px 3px 10px;
    font: 10pt Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.7);
}

#main .msg-wnd.expanded {
    height: 100%;
}

#main .msg-wnd.shrunk {
    flex: 0 0 auto;
}

#main .welcome .msg-wnd:focus {
    outline: none;
}

#main .chat .msg-wnd:focus {
    outline: none;
}

#main .chat .msg-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    /* margin: 10px 0; */
    min-height: 321.2px;
}

#main .chat .msg-list .msg-item {
    max-width: 60%;
    word-wrap: break-word;
    margin: 6px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #A2A2A2;
    padding: 2px 5px 2px 5px;
    font: 10pt Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    
}

#main .chat .msg-list .msg-item.sent {
    align-self: flex-end;
    background-color: #AFFFE6;
}

#main .chat .msg-list .msg-item.recieved {
    align-self: flex-start;
    background-color: #FFFCAF;
}