.toolbar {
    line-height: 15px;
    height: 15px;
    padding-left: 10px;
    margin: 10px 0px;
    flex: none;
}

.toolbar .toolbar-button {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.toolbar .toolbar-button.close {
    border: 2px solid #EE5F56;
    box-shadow: 0px 0px 5px #EE5F56;
}

.toolbar .toolbar-button.minimize {
    border: 2px solid #F8BD45;
    box-shadow: 0px 0px 5px #F8BD45;
    margin-left: 5px;
}

.toolbar .toolbar-button.expand {
    border: 2px solid #5ECB43;
    box-shadow: 0px 0px 5px #5ECB43;
    margin-left: 5px;
}

.toolbar .toolbar-button:focus {
    outline: none;
}

.toolbar .toolbar-button:hover {
    opacity: 0.7;
}